<app-menu></app-menu>
<table>
    <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Justification</th>
        <th>Status</th>
        <th>Total</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>{{request.id}}</td>
        <td>{{request.description}}</td>
        <td>{{request.justification}}</td>
        <td>{{request.status}}</td>
        <td>{{request.total}}</td>
        <td><a routeLink='review()'></a></td>
    </tr>
</table>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Unit</th>
        <th>Quantity</th>
        <th>Vendor</th>
    </tr>
    <tr>
        <td>{{request.product.id}}</td>
        <td>{{request.product.name}}</td>
        <td>{{request.product.price}}</td>
        <td>{{request.product.unit}}</td>
        <td>{{request.product.quantity}}</td>
        <td>{{request.product.vendor}}</td>

    </tr>
</table>